<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Hallo {{login}}
    <p> <a href="/upload">neue Datei</a></p>
    <p>
        @each(file in files)
        <p><a href="/download/{{file.id}}">{{file.name_original}}</a></p>
        @end
    </p>
</body>
</html>