<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Name eingeben</h1>
    <form action="/nutzer/anzeigen" method="POST">
        {{ csrfField() }}
        <label for="vorname">Vorname</label>
        <input type="text" name="vorname" id="vorname" placeholder="Dein Name" required>
        <input type="submit" value="Vorname ins Internet stellen">
    </form>
</body>
</html>