<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Voting</h1>
    <p>Wie gefällt Dir Pizza?</p>
    <form action="/vote" method="POST">
         {{ csrfField() }}
        <input type="radio" name="vote" id="spitze" value="spitze"><label for="spitze">spitze</label><br>
        <input type="radio" name="vote" id="geht" value="geht"><label for="geht">geht so</label><br>
        <input type="radio" name="vote" id="weg" value="weg"><label for="weg">kann weg</label><br>
        <input type="submit" value="Abstimmen">
    </form>
    
</body>
</html>